<p></p>
<div class="container">
  <div class="row">

    <div class="weather-info">
      <div class="panel panel-primary" id="copyright-wrap">
        <div class="panel-heading">
          <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
        </div>
        <div class="panel-body" style="background:#2c4474">&copy; some random dude</div>
      </div>
    </div>
  </div>
</div>

