.header img {
  float: left;
  width: 200px;
  background-color: #2c4474;
}

.header h1 {
  top: 18px;
  left: 10px;
  background-color: #2c4474;
}

.bg-primary {
   background-color: #0b2b5b !important;
 }
