<div id="searchCity" class="searchCity">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="search word" aria-label="Number" matInput [formControl]="searchTerm"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="valueMapper">
        <mat-option *ngFor="let item of searchResult" [value]="item">
          {{ item }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <input type="button" value="Add Weather" (click)="addWeatherInfo()">
  </form>
</div>

<p></p>
<div class="container">
  <div class="row" *ngFor="let weather of weatherInfo">
    <div class="weather-info">
      <div class="panel panel-primary" id="copyright-wrap">
        <div class="panel-heading">
          <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <img src='{{weather.current.condition.icon}}'>
        </div>
        <div class="panel-body" style="background:#2c4474">&copy; some random dude</div>
      </div>
    </div>
  </div>
</div>



