.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#searchCity {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 40%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.weather-info {
  position: absolute;
  width: 20%;
  height: 10%;
  z-index: 15;
  top: 60%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.container {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 60%;
  left: 50%;
  margin: -100px 0 0 -150px;
}


