<div id="searchCity" class="searchCity">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="search word" aria-label="Number" matInput [formControl]="searchTerm"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="valueMapper">
        <mat-option *ngFor="let item of searchResult" [value]="item">
          {{ item }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button type="button" class="btn btn-info btn-sm" (click)="addWeatherInfo()">
      <span class="glyphicon glyphicon-plus"></span> +
    </button>
  </form>
</div>

<p></p>
<div class="container">
  <tr>
    <td *ngFor="let weather of weatherInfo; let i = index">
      <button [id]="i" type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert"
              (click)="removeEntry(i)"><span
        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>
      <img src='{{weather.current.condition.icon}}'> {{weather.location.name}} {{weather.location.region}}
      {{weather.current.temp_c}}
    </td>
  </tr>



