.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#searchCity {
  position: absolute;
  width: 300px;
  z-index: 15;
  top: 35%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.add-button {
  margin-top: 5px;
}

.weather-info {
  position: absolute;
  width: 20%;
  z-index: 15;
  top: 60%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.weather-container {
  position: absolute;
  width: 70%;
  height: auto;
  top: 53%;
  left: 30%;
  margin: -100px 0 0 -150px;
  padding: 10px;
  padding-bottom: 80px;
}

.city-weather-spacing{
  float:right;
  margin:10px;
  width: 25%;
  border: 1px solid white;
}

.city-weather{
  width:200px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  display: flex !important;
}

.float-my-children > * {
  float:left;
  margin-right:5px;
}

.font-weather{
  color:white;
  font-size: 40px;
}

.font-city{
  color:white;
  font-size: 10px;
}

.close {
  float: right;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 0;
  color: black;
  text-shadow: 0 1px 0;
  opacity: .4;
}

.loading-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
}

#vertical-div {
  float: right !important;
  margin-top: 10px;
}

.white-icon {
  color: white;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
  fill: white;
}

.mat-form-field-flex {
  background-color: lightgrey !important;
  border-radius: 5px;
  margin-top: 5px;
}

button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}


